{% extends 'base.html' %}
{% load static %}

{% block header %}
  <div class="hero min-h-screen" style="background-image: url({% static 'images/hero-image.webp' %});">
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">DOMINA LA CANCHA FORJA TU LEYENDA</h1>
        <p class="mb-5">La plataforma definitiva para organizar, competir y dominar en el baloncesto 3x3 de España. Mide tu nivel, encuentra rivales y deja tu huella en el asfalto.</p>
        {% url 'users:signup' as url %}
        {% with url=url label='Únete a las calles' extra_classes='btn btn-primary' %}
          {% include 'components/button.html' %}
        {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <section class="mx-auto mx-8 py-4 text-center">
    <h2 class="text-4xl font-bold">LA CALLE TIENE UN NUEVO REY</h2>
    <p class="text-base">
      <strong>cancha3x3</strong> es más que una web para organizar partidos. Es el punto de encuentro de la comunidad del streetball. Aquí, cada canasta cuenta, cada victoria te eleva y cada partido es una oportunidad para forjar tu reputación.
    </p>
  </section>
  <section class="flex justify-center py-4">
    <div class="stats stats-vertical lg:stats-horizontal shadow">
      <div class="stat place-items-center">
        <div class="stat-title">Jugadores</div>
        <div class="stat-value">{{ total_users }}</div>
      </div>

      <div class="stat place-items-center">
        <div class="stat-title">Equipos</div>
        <div class="stat-value text-secondary">{{ total_teams }}</div>
        <div class="stat-desc text-secondary">↗︎ 40 (2%)</div>
      </div>

      <div class="stat place-items-center">
        <div class="stat-title">Ligas y torneos</div>
        <div class="stat-value">{{ total_competitions }}</div>
        <div class="stat-desc">↘︎ 90 (14%)</div>
      </div>

      <div class="stat place-items-center">
        <div class="stat-title">Ciudades</div>
        <div class="stat-value">{{ total_cities }}</div>
        <div class="stat-desc">↘︎ 90 (14%)</div>
      </div>

      <div class="stat place-items-center">
        <div class="stat-title">Canchas</div>
        <div class="stat-value">{{ total_courts }}</div>
        <div class="stat-desc">↘︎ 90 (14%)</div>
      </div>
    </div>
  </section>
  <section>
    <div class="grid grid-cols-1 xl:grid-cols-3 gap-1 xl:gap-4 py-4 justify-center w-max mx-auto">
      {% include 'components/card.html' with title='ORGANIZA Y COMPITE' description='Crea o únete a torneos y ligas, tanto oficiales como pachangas con tus colegas. Gestiona tu equipo, inscríbete y prepárate para la batalla.' %}
      {% include 'components/card.html' with title='RANKING GLOBAL VIVO' description='Olvídate de las clasificaciones estáticas. Nuestro sistema de ranking, inspirado en el ajedrez, mide tu habilidad real y la de tu equipo después de cada partido. Tu nivel evoluciona contigo.' %}
      {% include 'components/card.html' with title='REPUTACIÓN EN LA CANCHA' description='En los partidos no oficiales, no hay árbitro. Tu palabra es la que cuenta. Verifica los resultados con tus rivales y gana reputación por tu juego limpio. Demuestra que eres de fiar.' %}
    </div>
  </section>
  <section class="mx-auto py-4">
    <div class="hero min-h-100" style="background-image: url({% static 'images/ball-background.webp' %});">
      <div class="hero-overlay"></div>
      <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">DEJA DE HABLAR. EMPIEZA A JUGAR.</h1>
          <p class="mb-5">Mide tu habilidad contra jugadores de toda España. Encuentra nuevas canchas en tu ciudad. Demuestra que tu equipo es el mejor.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="mx-auto py-4 text-center">
    <ul class="steps steps-vertical lg:steps-horizontal">
      <li class="step step-primary">Regístrate gratis</li>
      <li class="step step-primary">Crea o únete a un equipo</li>
      <li class="step step-primary">Juega y registra el resultado</li>
      <li class="step step-secondary">Escala posiciones y domina</li>
    </ul>
  </section>
  <section class="text-center mx-auto py-4">
    <h2 class="text-4xl font-bold">CON EL APOYO DE LOS QUE CREEN EN LA CALLE</h2>
    <p class="mx-auto">Estos son los socios que hacen posible que cancha3x3 siga creciendo y apoyando el baloncesto urbano.</p>
    <div class="carousel carousel-center rounded-box py-4">
      <div class="carousel-item">
        <img src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp" alt="Pizza" />
      </div>
      <div class="carousel-item">
        <img src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.webp" alt="Pizza" />
      </div>
      <div class="carousel-item">
        <img src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp" alt="Pizza" />
      </div>
      <div class="carousel-item">
        <img src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.webp" alt="Pizza" />
      </div>
      <div class="carousel-item">
        <img src="https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.webp" alt="Pizza" />
      </div>
      <div class="carousel-item">
        <img src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.webp" alt="Pizza" />
      </div>
      <div class="carousel-item">
        <img src="https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.webp" alt="Pizza" />
      </div>
    </div>
    {% include 'components/button.html' with label='¿Quieres patrocinar el movimiento? Contacta con nosotros' extra_classes='btn btn-secondary' %}
  </section>
  <section class="text-center mx-auto py-4">
    <h2 class="text-4xl font-bold">¿LISTO PARA DEJAR TU HUELLA?</h2>
    <p>La comunidad de cancha3x3 te está esperando. El próximo rey de la cancha podrías ser tú.</p>
  </section>
{% endblock %}
