{% load static %}
<div class="navbar bg-base-200 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <details>
            <summary>Ranking</summary>
            <ul class="p-2 z-[999]">
              <li>
                <a href="{% url 'rankings:ranking_elo_players' %}">Jugadores</a>
              </li>
              <li>
                <a href="{% url 'rankings:ranking_elo_teams' %}">Equipos</a>
              </li>
            </ul>
          </details>
        </li>
        <li>
          <a href="{% url 'geo:cities' %}">Ciudades</a>
        </li>
        <li>
          <a href="{% url 'geo:courts' %}">Canchas</a>
        </li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li>
              <a>Submenu 1</a>
            </li>
            <li>
              <a>Submenu 2</a>
            </li>
          </ul>
        </li>
        <li>
          <a>Item 3</a>
        </li>
      </ul>
    </div>
    <a href="{% url 'dashboard:dashboard' %}" class="btn btn-ghost text-xl">Cancha3x3</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary>Ranking</summary>
          <ul class="p-2 z-[999]">
            <li>
              <a href="{% url 'rankings:ranking_elo_players' %}">Jugadores</a>
            </li>
            <li>
              <a href="{% url 'rankings:ranking_elo_teams' %}">Equipos</a>
            </li>
          </ul>
        </details>
      </li>
      <li>
        <a href="{% url 'geo:cities' %}">Ciudades</a>
      </li>
      <li>
        <a href="{% url 'geo:courts' %}">Canchas</a>
      </li>
      <li>
        <details>
          <summary>Parent</summary>
          <ul class="p-2">
            <li>
              <a>Submenu 1</a>
            </li>
            <li>
              <a>Submenu 2</a>
            </li>
          </ul>
        </details>
      </li>
      <li>
        <a>Item 3</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <button class="avatar cursor-pointer" popovertarget="popover-1" style="anchor-name: --anchor-1">
      <div class="mask mask-squircle w-12">
        {% if user.avatar %}
          <img src="{{ user.avatar.url }}" alt="Avatar del usuario" width="150" />
        {% else %}
          <img src="{% static 'images/default_avatar.webp' %}" alt="Avatar por defecto" width="150" />
        {% endif %}
      </div>
    </button>

    <ul class="dropdown dropdown-end menu w-52 rounded-box bg-base-100 shadow-sm z-[999]" popover id="popover-1" style="position-anchor: --anchor-1">
      <li>
        <a>Perfil</a>
      </li>
      <label class="toggle text-base-content mx-2 my-2">
        <input type="checkbox" value="night" class="theme-controller" />

        <svg aria-label="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor">
            <circle cx="12" cy="12" r="4"></circle>
            <path d="M12 2v2"></path>
            <path d="M12 20v2"></path>
            <path d="m4.93 4.93 1.41 1.41"></path>
            <path d="m17.66 17.66 1.41 1.41"></path>
            <path d="M2 12h2"></path>
            <path d="M20 12h2"></path>
            <path d="m6.34 17.66-1.41 1.41"></path>
            <path d="m19.07 4.93-1.41 1.41"></path>
          </g>
        </svg>

        <svg aria-label="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor">
            <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
          </g>
        </svg>
      </label>
      <div class="divider"></div>
      <li>
        <a href="#" hx-post="{% url 'users:logout' %}" hx-include="[name=csrfmiddlewaretoken]" hx-target="body" hx-swap="none">Cerrar sesión</a>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
      </li>
    </ul>
  </div>
</div>
