{% load static %}
<table class="table table-zebra">
  <!-- head -->
  <thead>
    <tr>
      <th></th>
      <th>Avatar</th>
      <th>Username</th>
      <th>ELO</th>
      <th>Reputación</th>
    </tr>
  </thead>
  <tbody>
    {% for player in player_ranking %}
      <tr class="hover:bg-accent hover:text-accent-content">
        <th>{{ forloop.counter }}</th>
        <td>
          <div class="avatar">
            <div class="mask mask-squircle h-12 w-12">
              {% if player.player.avatar %}
                <img src="{{ player.player.avatar.url }}" alt="Avatar del jugador" width="150" />
              {% else %}
                <img src="{% static 'images/default_avatar.webp' %}" alt="Avatar por defecto" width="150" />
              {% endif %}
            </div>
          </div>
        </td>
        <td>{{ player.player.username }}</td>
        <td>
          {% if player.elo >= 2400 %}
            <span class="text-success">{{ player.elo|floatformat:'0' }}</span>
          {% else %}
            {{ player.elo|floatformat:'0' }}
          {% endif %}
        </td>
        <td>
          {% if player.player.reputation_score < 0 %}
            <span class="text-error">{{ player.player.reputation_score|floatformat:'0' }}</span>
          {% else %}
            {{ player.player.reputation_score|floatformat:'0' }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
