{% extends 'base.html' %}
{% load static %}
{% block header %}
  {% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
  <!-- name of each tab group should be unique -->
  <div class="tabs tabs-box flex justify-center my-8">
    <input type="radio" name="my_tabs_6" class="tab my-2" aria-label="Live" checked="checked" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <div class="overflow-x-auto">
        {% if player_ranking %}
          {% include 'elo_players_table.html' with player_ranking=player_ranking %}
        {% elif team_ranking %}
          {% include 'elo_teams_table.html' with team_ranking=team_ranking %}
        {% endif %}
      </div>
      <div class="join flex justify-center py-4">
        <button class="join-item btn">«</button>
        <button class="join-item btn"><</button>
        <button class="join-item btn">Página 1</button>
        <button class="join-item btn">></button>
        <button class="join-item btn">»</button>
      </div>
    </div>

    <input type="radio" name="my_tabs_6" class="tab my-2" aria-label="Histórico" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <div class="overflow-x-auto">
        {% if historic_player_ranking %}
          {% include 'elo_players_table.html' with player_ranking=historic_player_ranking %}
        {% elif historic_team_ranking %}
          {% include 'elo_teams_table.html' with team_ranking=historic_team_ranking %}
        {% endif %}
      </div>
      <div class="join flex justify-center py-4">
        <button class="join-item btn">«</button>
        <button class="join-item btn"><</button>
        <button class="join-item btn">Página 1</button>
        <button class="join-item btn">></button>
        <button class="join-item btn">»</button>
      </div>
    </div>
  </div>
{% endblock %}
