{% extends 'base.html' %}
{% load static %}
{% block header %}
  {% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
  <!-- name of each tab group should be unique -->
  <div class="tabs tabs-box flex justify-center my-8">
    <input type="radio" name="my_tabs_6" class="tab my-2" aria-label="Live" checked="checked" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <div class="overflow-x-auto" id="ranking-container">
        {% if player_ranking %}
          <h2 class="text-2xl text-center pb-2">Clasificación de Jugadores</h2>
          {% include 'elo_players_table.html' with player_ranking=player_ranking user=user %}
        {% elif team_ranking %}
          <h2 class="text-2xl text-center pb-2">Clasificación de Equipos</h2>
          {% include 'elo_teams_table.html' with team_ranking=team_ranking %}
        {% else %}
          <p class="text-center">No hay datos disponibles.</p>
        {% endif %}
        {% include 'partials/pagination_buttons.html' with page_obj=player_ranking %}
        {% include 'partials/pagination_buttons.html' with page_obj=team_ranking %}
      </div>
    </div>

    <input type="radio" name="my_tabs_6" class="tab my-2" aria-label="Histórico" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <div class="overflow-x-auto">
        {% if historical_player_ranking %}
          <h2 class="text-2xl text-center pb-2">Clasificación Histórica de Jugadores</h2>
          {% include 'elo_players_table.html' with player_ranking=historical_player_ranking user=user %}
        {% elif historical_teams_ranking %}
          <h2 class="text-2xl text-center pb-2">Clasificación Histórica de Equipos</h2>
          {% include 'elo_teams_table.html' with team_ranking=historical_teams_ranking %}
        {% else %}
          <p class="text-center">No hay datos históricos disponibles.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
