{% extends 'base.html' %}
{% load static %}
{% block header %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
  <!-- name of each tab group should be unique -->
  <div class="tabs tabs-box flex justify-center my-8">
    <input type="radio" name="my_tabs_6" class="tab" aria-label="Jugadores" checked="checked" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <div class="overflow-x-auto">
        <table class="table table-zebra">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Avatar</th>
              <th>Username</th>
              <th>ELO</th>
            </tr>
          </thead>
          <tbody>
            {% for player in player_ranking %}
              <tr class="hover:bg-accent hover:text-accent-content">
                <th>{{ forloop.counter }}</th>
                <td>
                  <div class="avatar">
                    <div class="mask mask-squircle h-12 w-12">
                      {% if player.player.avatar %}
                        <img src="{{ player.player.avatar.url }}" alt="Avatar del jugador" width="150" />
                      {% else %}
                        <img src="{% static 'images/default_avatar.webp' %}" alt="Avatar por defecto" width="150" />
                      {% endif %}
                    </div>
                  </div>
                </td>
                <td>{{ player.player.username }}</td>
                <td>{{ player.elo }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="join flex justify-center py-4">
        <button class="join-item btn">«</button>
        <button class="join-item btn"><</button>
        <button class="join-item btn">Página 1</button>
        <button class="join-item btn">></button>
        <button class="join-item btn">»</button>
      </div>
    </div>

    <input type="radio" name="my_tabs_6" class="tab" aria-label="Equipos" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <div class="overflow-x-auto">
        <table class="table table-zebra">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Escudo</th>
              <th>Equipo</th>
              <th>ELO</th>
            </tr>
          </thead>
          <tbody>
            {% for team in team_ranking %}
              <tr class="hover:bg-accent hover:text-accent-content">
                <th>{{ forloop.counter }}</th>
                <td>
                  <div class="avatar">
                    <div class="mask mask-squircle h-12 w-12">
                      {% if team.logo %}
                        <img src="{{ team.logo.url }}" alt="Logo del equipo" width="150" />
                      {% else %}
                        <img src="{% static 'images/default_logo.webp' %}" alt="Logo por defecto" width="150" />
                      {% endif %}
                    </div>
                  </div>
                </td>
                <td>{{ team.name }}</td>
                <td>{{ team.average_elo|floatformat:'0' }}</td>
                <td></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="join flex justify-center py-4">
        <button class="join-item btn">«</button>
        <button class="join-item btn"><</button>
        <button class="join-item btn">Página 1</button>
        <button class="join-item btn">></button>
        <button class="join-item btn">»</button>
      </div>
    </div>
  </div>
{% endblock %}
